{% extends 'Todo_list/main.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div>
            <h1>Hello {{request.user|title}}</h1>
            <h3>You have <i>{{count}}</i> incomplete item{% if count > 1 %}s{% endif %}</h3>
        </div>
        {% if request.user.is_authenticated %}
                <a href="logout/">Logout</a>
            {% else %}
                <a href="login/">Login</a>
            {% endif %}
    </div>
    <div class="searchbar">
        <form action="" method="GET" class="search_form">
            <input type="text" name="search" value="{{search}}" class="textarea">
            <input type="submit" class="button" value="Search">
        </form>
        <a href="\createTask" class="add">&#x2b;</a>
    </div>
    
    <div class="task_items">
        {% for i in Tasks %}
        <div class="task">
            {% if i.complete %}
            <div class="task_title">
                <div class="completeicon"></div>
                <i><s><a href="\updateTask\{{i.id}}">{{i.title}}</a></s></i>
            </div>
            <a class="deletebutton" href="\deleteTask\{{i.id}}">&#215;</a>
            {% else %}
            <div class="task_title">
                <div class="incompleteicon"></div>
                <a href="\updateTask\{{i.id}}">{{i.title}}</a>
            </div>
            <a class="deletebutton" href="\deleteTask\{{i.id}}">&#215;</a>
            {% endif %}
            
        </div>
        {% empty %}
        {% endfor %}
    </div>
</body>
</html>
{% endblock content %}